body {
  margin: 0;
}

.wrapper {
  width: 68%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.logo {
  font: bold 24px/32px "PT Serif", arial, helvetica, sans-serif;
  letter-spacing: 1px;
  padding-left: 44px;
  position: relative;
  padding: 40px 0 40px 44px;
}

.logo__circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo__circle_dark-blue {
  background: #0056ec;
  opacity: 0.7;
}

.logo__circle_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  opacity: 0.7;
}

.menu {
  display: flex;
  align-items: center;
  width: 34%;
  padding-top: 4px;
}

.menu__item {
  text-decoration: none;
  color: #000;
  font: normal 14px/16px "Roboto", sans-serif;
  margin-right: 24px;
  position: relative;
  opacity: 1;
  transition: opacity .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 0;
  right: 0;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;;
}

.menu__item:hover:after {
  opacity: .5;
  width: 100%;
}

.menu__item_active:after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.menu__item_active:hover:after {
  width: 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  width: 42%;
  padding-right: 58%;
  padding-bottom: 100px;
  background: url('../images/mainImg.svg') top right no-repeat;
}

.main__title {
  font: bold 50px/66px "PT Serif", arial, helvetica, sans-serif;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
  padding-top: 15px;
}

.main__description {
  font: normal 18px/21px "Roboto", sans-serif;
  margin: 0 0 52px 0;
}

.main__btn {
  background: #0056ec;
  color: #fff;
  font: normal 14px/16px "Roboto", sans-serif;
  text-decoration: none;
  border-radius: 4px;
  padding: 14px 16px;
  cursor: pointer;
  transition: font-size .5s;
}

.main__btn:hover {
  font-size: 16px;
}
